#pest-img{
    width: 510px;
    height: 410px;
    padding-top: 20px;
}
#pest-video{
    margin-left: 60px;
}
#pest-pContiner p{
    text-align: justify;
    line-height: 1.6;
    padding: 20px;
    margin-left: 20px;
}