.mainContent-climate{
background-color: #d0d5cb;
}
.mainContent-climate p{
    margin-top: 0px;
    padding: 30px;
    font-family: inherit;
    text-align: left;
}
.climate-container{
    display: flex;
    flex-wrap: wrap;/* to allows items to drop to the next row */
    gap: 20px;
    justify-content: center;
    margin-left: 30px;
     margin-right: 100px;
     object-fit: cover;
    
}
.climate-container div{
    flex: 0 0 calc(50% - 10px); /* calc(50% - gap_size) to have exactly 2 divs per row */
    box-sizing: border-box;
    text-align: center;
}
.climate-chart{
    margin-bottom: 60px;
}
.articleBtn{
    padding: 10px 20px;
    background-color: #3279ca;
    color: rgb(16, 16, 16);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    float: right;
    margin-bottom: 20px;
    margin-right: 50px;
}
.mainContent-climate h2{
    text-align: left;
    padding-left: 100px;
}
ul{
    font-size: 18px;
    line-height: 1.8;
    font-family: inherit;
    padding-left: 100px;
}
.sub-heading{
    text-decoration: underline;
}