.topic_images-gallery {
    width: 310px;
    height: 210px;
    padding:  20px;
    padding-right: 50px;
    gap: 10px;
    padding-left: 50px;
    margin-top: 20px;
}
.topic_images-gallery:hover {
    transform: scale(1.30);
    transition: transform 0.4s ease;
}
.topicsContainer-gallery{
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 200px;
}

h1 {
    text-align: center;
    margin-top: 150px;
    padding-bottom: 30px;
    font-size: 40px;
}
.topicsContainer-gallery p{
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: bolder;
}