html, body {
    height: 100%;
    margin: 0;
}

main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures main is at least the full height of the screen */
    margin: 0;
    padding: 0;
}

/*  Navigation Bar (Fixed to top) */
.navBar {
    background: #f8f9faf9;
    padding: 10px;   
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo {
    width: 10vw;
    height: 15vh;
    margin-right: 20px;
}

.nav {
    background: #8DC957;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1; /* Allows nav to fill space */
    height: 40px;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 10px;
}

.navList a {
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navList a:hover {
    background-color: #c79f028f;
    border-radius: 5px;
    padding: 5px 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
    font-size: 45px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 18px;
    line-height: 1.8;
}
.welcomeMessage p{
    text-align: justify;
     line-height: 1.6;
    padding: 0 150px;
    margin: 20px 0;
    color: rgb(16, 16, 16);
}
.topicsContainer{
    padding-top: 50px;
}

.mainContent {
    flex: 1; /* pushes the footer to the bottom */
    padding-top: 80px; /* fixed navbar height */
    width: 100%;
}

.mainImageContainer {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.mainImage {
    width: 100%;
    height: 80%;
    object-fit: cover; /* Keeps image from squishing */
}

/*  Table Section */
.topicsContainer{
    width: 100%;
    max-width: 1200px; /* Limits width on wide desktops */
    margin: 50px auto;
    background-color: #fff;
}
.topic-table ,.footerContent {
    width: 100%;
    border-collapse: collapse;
}

.topic-table th, .topic-table td {
    padding: 10px;
    text-align: center;
}

.topic-table th {
    font-weight: bold;
}

/* Footer Section */
footer {
   background: url('utilities/backgroundImg.jpg') no-repeat center center fixed;
   opacity: 0.8;
   background-size: cover;
   background-position: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.footerContent {
    font-size: 14px;
    width: 100%;
    color: rgb(16, 16, 16);
}
.footerTable {
    width: 100%;
    border-collapse: collapse;
}
.footerTable td {
    padding: 5px;
    text-align: center;
}
.footerTable th {
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
footer p {
    margin: 10px 0;
    color: rgb(16, 16, 16);
}

/* Dropdown Styling */
.topicsBar {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navList {
        gap: 15px;
        font-size: 14px;
    }
}
.topic_images {
    width: 200px;
    height: 200px;
    border-radius: 500px;
     object-fit: cover;
}
.topic_images:hover {
    transform: scale(1.20);
    transition: transform 0.4s ease;
}
.learnMoreBtn {
    padding: 10px 20px;
    background-color: #8DC957;
    color: rgb(16, 16, 16);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.learnMoreBtn:hover {
    background-color: #c79f028f;
    transform: scale(1.1);
}
.chatbot-container, .chat-form {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#chat-us-btn {
    padding: 20px 20px;
    background-color: #8DC957;
    border-radius: 8px;
    border: none;
    color: rgb(16, 16, 16);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: #101010 0px 5px 15px;
}
#chat-us-btn:hover {
    transform: scale(1.1);
}
.chat-form {
    display: none;
    background-color: #8DC957;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #101010 0px 5px 15px;
    margin-bottom: 50px;
    height: 550px;
    width: 300px;
}

.test-disclaimer{
    text-align: left;
    font-size: 12px;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight:lighter;
   
}
.chat-confirm-message {
    color: rgb(16, 16, 16);
    font-weight: lighter;
    text-align: center;
    display: none;
    font-size: 12px;
    padding: 10px;
}
.error-alert-field {
    color: #ee1212eb;
    font-size: 12px;
}
input[type="text"], 
input[type="email"], 
textarea {
    width: 100%;            
    padding: 12px 12px;      
    margin: 8px 0 20px 0;    
    display: inline-block;
    border: 1px solid #ccc;  
    border-radius: 4px;      
    box-sizing: border-box;  /* Ensures padding doesn't affect width */
    font-family: inherit;    
    font-size: 16px;         
    transition: 0.3s;        /* transition for focus/errors */
}

/* The Focus Effect when user clicks inside the box */
input:focus, textarea:focus {
    border-color: #4A90E2;    /* Blue border on click */
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2); 
    outline: none;         
}
.chat-form-areabtn{
    background-color: #4A90E2;    
    color: rgb(16, 16, 16);                 
    padding: 12px 20px;         
    border: none;               
    border-radius: 6px;         
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;              
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
   margin-left: 30px;
}